.vscode
__pycache__
backend/data_processing/DATA/
*.ipynb
data_processing/original_data/*.csv
data_processing/processed_data/*.csv
data_processing/filtered
data_processing/DATA
data_processing/API_KEY.txt
frontend/node_modules
backend/DATA
git_hook/chroma_db
.venv/
.git_guard/
indexer_debug.log
git_guard_cli.py