services:
  backend:
    build: 
      context: ./server
      dockerfile: Dockerfile 
    container_name: git-guard-backend
    ports:
      - "8000:8000"
    volumes:
      - ./server:/app 
    environment:
      - MEDICAL_RAG=${MEDICAL_RAG}

  frontend:
    build: 
      context: ./admin-dashboard
      dockerfile: Dockerfile
    container_name: git-guard-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend 